<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
          }
  
          td,
          th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
          }
  
          tr:nth-child(even) {
              background-color: #ffffff;
          }
      </style>
</head>
<body>
    <%- include('_navbar') %>
    <div class="container">
    <table class="table table-striped">
        <tr>
            <th>Nama Villa</th>
            <th>Description</th>
            <th>Price</th>
            <th>Handle</th>
        </tr>
        <div>
                     <a href="/villaku/admin/add" style="color: black;" type="button" class="btn btn-primary"> Add</a>
             </div> 
        <% data.forEach(element => { %>
            <tr>
                <td> <%= element.name %></td>
                <td> <%= element.description %></td>
                <td> <%= rupiah(element.price) %></td>
                <td>
                    <a href="/villaku/admin/<%= element.id %>/edit" style="color: black;" type="button" class="btn btn-primary"> Edit</a>
                    <a href="/villaku/admin/<%= element.id %>/delete" style="color: black;" type="button" class="btn btn-danger"> Delete</a>
                </td>
            </tr>
            <% }) %>
            
      </table>
    </div>
    <%- include('_link') %>
    <%- include('_footer') %>
</body>
</html>