<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body style="background-color: #086eb3b9;">
    <%- include('_navbar') %>

    <div class="container align-items-center">
        <section style="background-color: #eee;">
            <a class="btn btn-outline-primary mt-4 mb-5" href="/villaku/<%= data.id %>" role="button" style="margin-left: 10px;margin-right: 10px;">Back to Home</a>

              <div class="d-flex align-items-center me-auto">
                <div class="col-lg-4">
                  <div class="card mb-4" style="margin-left: 10px;margin-right: 10px;">
                    <div class="card-body text-center" >
                      <img src="<%= data.UserProfile.img_Url %>" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                      <h5 class="my-3"><%= data.UserProfile.fullName %></h5>
                
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="card mb-4" style="margin-left: 10px;margin-right: 10px;">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Username</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0"><%= data.username %></p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0"><%= data.email %></p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0"><%= data.UserProfile.phoneNumber %></p>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>

    <%- include('_footer') %>
    <%- include('_link') %>
</body>
</html>