<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *,
    body {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
</head>

<body style="background-color: #086eb3b9;">

<%- include('_navbar') %>

  <h1 style="color: white; margin-bottom: 5px;margin-top: 50px;" class="text-center fs-1 fst-italic fw-bolder">Villaku
  </h1>
  <div class="container">
    <h4 style="color: white;">Welcome, <%= user.greetRole() %> </h4>
    <a href="/villaku/<%= UserId %>/profile" type="button" class="btn btn-outline-light" style="margin: 5px 5px;">Go to Profile</a>
    <div class="d-flex">
      <p style="margin-right: 10px; font-size: large; color: white;">Sort by: </p>
      <a href="/villaku/<%= UserId %>?sort=name" type="button" class="btn btn-outline-light" style="margin: 5px 5px;">Name</a>
      <a href="/villaku/<%= UserId %>?sort=price" type="button" class="btn btn-outline-light" style="margin: 5px 5px;">Price</a>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-center"></div>
  <div class="row">
    <% data.forEach(element=> { %>
      <div class="col-md-3">
        <div class="card" style="width: 20rem; margin: 20px">
          <img src=<%=element.img_Url %> class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">
              <%= element.name %>
            </h4>
            <p class="card-subtitle">Description:</p>
            <h5 class="card-text">
              <%=element.description%>
            </h5>
            <h5 class="card-text">
              <%=rupiah(element.price)%>
            </h5>
            <h5 class="card-text">
              <%= %>
            </h5>
            <a href="/villaku/<%= UserId %>/rented?VillaId=<%= element.id %>" class="btn btn-primary text-center">Book
              this</a>
          </div>
        </div>
      </div>
      <% }) %>
  </div>

  <%- include('_link') %>
    <%- include('_footer') %>

</body>

</html>